.background {
  background-color: blue;
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: red;
}

.splash {
  background-image: url(splash.png);
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}

